NODE_ENV=development
PORT=8080
MONGODB_URI=mongodb+srv://syntropy:MongoDBHackathon@cluster0.ipdhwz.mongodb.net/syntropy?retryWrites=true&w=majority&appName=Cluster0
# #JWT Secret - CHANGE THIS TO A SECURE RANDOM STRING
JWT_SECRET=temp_jwt_secret_change_in_production_use_crypto_randomBytes 
FIREWORKS_API_KEY=your_fireworks_api_key_here